<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072879903076-8733qrv7hf0riur6ui5g2apknd3jqu84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072879903076-8733qrv7hf0riur6ui5g2apknd3jqu84</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1072879903076-tjd2kuo8to87q87m34ehdcp4nm5jp5pc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAw7PElE6IReF4-O0ZX-yVh--PSsDzJkLA</string>
	<key>GCM_SENDER_ID</key>
	<string>1072879903076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diseaseDetectorApp</string>
	<key>PROJECT_ID</key>
	<string>eyes-diseases-detector</string>
	<key>STORAGE_BUCKET</key>
	<string>eyes-diseases-detector.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072879903076:ios:dd270c13fe573274bf1a71</string>
</dict>
</plist>